<!doctype html>
<html lang="en" class="h-100">
<head>
    {% load static %}
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/sticky-footer-navbar/">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <meta name="theme-color" content="#563d7c">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
<header>
    {% include 'navbar.html' %}
</header>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container">
        <div>
        {% block content %}
        {% endblock %}
        </div>
    </div>
</main>
{% include 'footer.html' %}
<script src="{% static '/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static '/js/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/js/scripts.js' %}"></script>
</body>

</html>