<nav class="navbar navbar-default bg-secondary navbar-top">
    df
</nav>

<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-main">
      <a class="navbar-brand" href="#">Top navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Домой<span class="sr-only">(current)</span></a>
              </li>


            </ul>
          <ul class="nav navbar-nav navbar-right">
              <li class="nav-item dropdown basket-container">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Корзина <span id="basket_total_price">({% if order %}{{ order.total_price }}{% else %}0{% endif %})</span>
                </a>
                <ul class="dropdown-menu  dropdown-menu-right basket-items" aria-labelledby="dropdownMenuButton">
                    {%if products_in_basket %}
                        {% for product_in_basket in products_in_basket %}
                            <li class="dropdown-item">{{ product_in_basket.product.name }}, {{ product_in_basket.nmb }}шт. по {{ product_in_basket.product.price }}р.
                                <a class="delete" href="/" data-product_in_basket_id="{{ product_in_basket.id }}">x</a>
                            </li>
                        {% endfor %}
                    {% else %}
                    <li class="dropdown-item">Корзина пуста</li>
                    {% endif %}
                </ul>
              </li>
          </ul>

      </div>
    </nav>

