{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
	{% trans "Your shopping cart" %}    
{% endblock %}
{% block content %}
{% if cart %}
    <h1>{% trans "Your shopping cart" %}</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>{% trans "Image" %} </th>
            <th>{% trans "Product" %} </th>
            <th>{% trans "Quantity" %} </th>
            <th>{% trans "Remove" %} </th>
            <th>{% trans "Unit price" %} </th>
            <th>{% trans "Price" %} </th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
						{% load thumbnail %}
						{% thumbnail product.image "150" as im %}
							 <img src="{{ im.url }}" class="image-detail">
						{% endthumbnail %}
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url 'cart:cart_remove' product.id %}">{% trans "Remove" %} </a></td>
                    <td class="num">{{ item.price }}  {% trans "rub" %}</td>
                    <td class="num">{{ item.total_price }}  {% trans "rub" %}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        {% if cart.coupon %}
            <tr class="subtotal">
                <td>{% trans "Subtotal" %}</td>
                <td colspan="4"></td>
                <td class="num">{{ cart.get_total_price }}  {% trans "rub" %}</td>
            </tr>
            <tr>
                <td>
                    {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
                        "{{ code }}" ({{ discount }}% off)
                    {% endblocktrans %}
                </td>
                <td colspan="4"></td>
                <td class="num neg">
                    - {{ cart.get_discount|floatformat:"2" }}  {% trans "rub" %}
                </td>
            </tr>
        {% endif %}
        <tr class="total">
            <td>{% trans "Total" %}</td>
            <td colspan="4"></td>
            <td class="num">
                {{ cart.get_total_price_after_discount|floatformat:"2" }}  {% trans "rub" %}
            </td>
        </tr>
        </tbody>
    </table>
    <form action="{% url 'coupons:apply' %}" method="post">
    {{ coupon_apply_form }}
    <input type="submit" value="{% trans 'Apply' %}">
    {% csrf_token %}
    </form>
    <p class="text-right">
        <a href="{% url 'shop:product_list' %}" class="button light">{% trans "Continue shopping" %}</a>
        <a href="{% url 'orders:order_create' %}" class="button">
            {% trans "Checkout" %} 
        </a>
    </p>
{% else %}
<h1>{% trans "Your cart is empty" %}</h1>
{% endif %}
{% endblock %}